.App {
  text-align: left;
}

.files {
  padding: 20px;
  background: #333;
  margin-bottom: 20px;
}

.yaml-textarea {
  margin-top: 20px;
  width: 600px;
  height: 200px;
}


@media screen and (max-width:8.5in) { /* resize your window until the event is triggered */
  html { width: 8.5in; }
  body { font: 9pt/1.5 Arial, sans-serif; } /* Roughly 12px font */
}

.printable {
  margin-left: 0.21in;
  margin-right: 0.21in;
}

@media print {
  .no-print { display: none; }
}